# 🐍 Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pot
*.pyc
db.sqlite3
staticfiles/
media/
venv/
env/
backend/.env

# ⚛️ React / Vite
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
dist/
dist-ssr/
*.local

# 🛠️ Node.js / debug logi
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
logs/

# 🧠 IDE / edytory
.vscode/
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 💻 OS/macOS
.DS_Store
Thumbs.db
